# Python
__pycache__/
*.py[cod]
*.egg-info/
.venv/
venv/
env/
db.sqlite3
db.sqlite3-journal
staticfiles/
media/
.coverage
htmlcov/

# Env
.env
.env.local
*.local

# Node / Next.js
node_modules/
.next/
out/
build/
dist/
.turbo/
next-env.d.ts
*.tsbuildinfo

# Misc
.DS_Store
*.log
.idea/
.vscode/
