# Python
__pycache__/
*.py[cod]
*.egg-info/
.venv/
venv/

# Django
*.sqlite3
db.sqlite3
staticfiles/
media/
.env

# IDE / OS
.DS_Store
.idea/
.vscode/

# Test / coverage
.pytest_cache/
htmlcov/
.coverage
