@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  * {
    @apply border-brand-surface;
  }

  body {
    @apply bg-brand-dark text-brand-text-primary antialiased;
  }

  ::-webkit-scrollbar {
    width: 6px;
    height: 6px;
  }

  ::-webkit-scrollbar-track {
    background: #1a1a1a;
  }

  ::-webkit-scrollbar-thumb {
    background: #2a2a2a;
    border-radius: 3px;
  }

  ::-webkit-scrollbar-thumb:hover {
    background: #913fe2;
  }
}

@layer utilities {
  .scrollbar-hide {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
  .scrollbar-hide::-webkit-scrollbar {
    display: none;
  }
}
